.dashboard-title {
  width: 300px;
}

.menu-link {
  color: #424242 !important;
}

.admin-menu-style {
  margin-top: 10px !important;
  margin-right: 20px !important;
}

.admin-sub-menu-style {
  padding-left: 76px !important;
}

.layout-logo {
  width: 150px;
}

